setuptools
editdistance==0.6.2
matplotlib
numba
numpy
pandas
lanms-neo==1.0.2
opencv-python
pillow==9.0.1
polygon3
rapidfuzz==2.13.7
scipy
scikit-image
scikit-learn
shapely==2.0.0
timm==0.5.4
tqdm==4.53.0
zss
tree-distance
patchify